h2{
    text-decoration: underline 2px solid #FFFFFF;
}

.circulo{
    list-style: disc;
}
.disco{
    list-style: circle;
}

.contieneTabla{
    display: flex;
    justify-content:first baseline;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    border: 3px solid #FFFFFF;
}

th{
    border: 3px solid #FFFFFF;
    font-size: 19px;
    text-align: center;
    padding: 5px 15px 5px 15px;
}

.primeraColumna{
    border: 3x solid #FFFFFF;
}

td{
    border: 2px solid #FFFFFF;
    padding: 5px 25px 5px 25px;
    text-align: center;
}

tr:hover{
    background-color: #693927;
}

.cuadroVerde{
    display: inline-block;
    background-color: #4CAF50;
    border: 1px solid black;
    padding:10px;
    margin: 3px;
    margin-bottom: 0;
}
.cuadroMarron{
    display: inline-block;
    background-color: #795548;
    border: 1px solid black;
    padding: 10px;
    margin: 3px;
    margin-bottom: 0;
}
.cuadroBlanco{
    display: inline-block;
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: 10px;
    margin: 3px;
    margin-bottom: 0;
}